#slider {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 0 20px 0;
}

.carousel {
    width: 70%; 
}

#search-bar {
    margin-left: auto;
    width: 350px;
}
#lokasi {
    width: 100%;
    margin: 10px 10px;
}

#cardpromo {
    width: 70%;
    margin: 0 auto;
    border: none;
    padding-left: -10px;
}

#promo{
    border: none;
}
#cardpromo img {
    transition: transform 0.3s ease;
  }

  #cardpromo img:hover {
    transform: scale(1.1); 
  }
#promo img {
    width: 70%;
    margin: 0 auto;
}   